Repository hpi-swa/trufflesqueak: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pyformat

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pyformat
    name: Pyformat on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/pyformat.sh
    types: [text]
    files: '^mx\.trufflesqueak/.*\.py$'

Drop `primitiveFormToBufferedImage`
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/TruffleSqueakPlugin.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MiscUtils.java
Due: eclipseformat, checkstyle

Clean up AWT leftovers
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/jni-config.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/native-image.properties
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reachability-metadata.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reflect-config.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/resource-config.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/serialization-config.json
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/JavaObjectWrapper.java
Due: eclipseformat, checkstyle

Deploy native standalones for macOS
  .github/workflows/ci.yml
Due: none

Restore metadata for GraalInfoMorph and others
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reachability-metadata.json
Due: none

Add `--vm.XstartOnFirstThread` on macOS
  mx.trufflesqueak/mx_trufflesqueak.py
Due: pyformat

Fix `-XstartInFirstThread`
  .github/workflows/ci.yml
  mx.trufflesqueak/graalvm-25.0.1.patch
  mx.trufflesqueak/graalvm-25.0.2.patch
  mx.trufflesqueak/mx_trufflesqueak.py
  mx.trufflesqueak/suite.py
  mx.trufflesqueak/utils.sh
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageConfig.java
Due: eclipseformat, checkstyle, pyformat

use CyclicAssumption for invalidation, rename snapshotScreenSize & accessors
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageFlags.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageWriter.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/IOPrimitives.java
Due: eclipseformat, checkstyle

Minor headerFlags-related cleanups
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageFlags.java
Due: eclipseformat, checkstyle

Style fixes
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageFlags.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/ffi/PrimExternalCallNode.java
Due: eclipseformat, checkstyle

Upgrade to GraalVM 25.0.2
  .github/workflows/ci.yml
  mx.trufflesqueak/graalvm-25.0.2.patch
  mx.trufflesqueak/suite.py
  mx.trufflesqueak/utils.sh
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageConfig.java
Due: eclipseformat, checkstyle, pyformat

Use commits across all GitHub actions
  .github/workflows/bench-osvm.yml
  .github/workflows/ci.yml
Due: none

Add `dependabot.yml` for GHA updates
  .github/dependabot.yml
Due: none

remove wild cards from imports, add finals
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Upgrade to `25.0.2-ea.17`
  .github/workflows/ci.yml
  mx.trufflesqueak/suite.py
Due: pyformat

Upgrade mx to 7.68.1 for spotbugs 4.9.8
  mx.trufflesqueak/suite.py
Due: pyformat

Ignore `TestValueWithinFix`
  src/image-tests/runCuisTests.st
Due: none

Skip copyright check for generated SDL3 binding
  mx.trufflesqueak/copyrights/no.copyright.hash.regex
  mx.trufflesqueak/copyrights/no.copyright.star.regex
  mx.trufflesqueak/copyrights/overrides
Due: none

Introduce `AGENTS.md`
  AGENTS.md
  docs/README.md
  docs/development.md
Due: none

add back support for 32 bit ARGB cursors
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/IOPrimitives.java
Due: eclipseformat, checkstyle

guard texture against MemorySegment.NULL
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

save window size in image flags whenever it changes
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageWriter.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Remove stale SDL display helpers
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Stop the SDL event loop on exit
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Restore SDL window state events
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Restore SDL shortcut and click modifiers
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Keep SDL wheel deltas unscaled
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Apply deferred cursors after opening SDL windows
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Destroy SDL cursors during shutdown
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Publish SDL3 bindings under their own artifact
  mx.trufflesqueak/suite.py
Due: pyformat

Update Development section
  README.md
Due: none

create deferred cursor on open; destroy cursor on close
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Delete 2 unneeded files and reverted ControlPrimitives.java
  Info.plist
  src/de.hpi.swa.trufflesqueak/resources/trufflesqueak-icon.zip
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
Due: eclipseformat, checkstyle

eliminate unused arena
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

style
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

fix copyrights on newly created SDL*.java files
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLEvents.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLHints.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLInit.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLKeyboard.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLKeycode.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLMouse.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLPixels.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLRender.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLSurface.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDLVideo.java
Due: eclipseformat, checkstyle
