Repository hpi-swa/trufflesqueak: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pyformat

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pyformat
    name: Pyformat on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/pyformat.sh
    types: [text]
    files: '^mx\.trufflesqueak/.*\.py$'

Use builtin Eclipse formatter for pre-commit hook
  mx.trufflesqueak/pre-commit/eclipseformat.sh
Due: none

Introduce `HostInteropFeature`
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/de.hpi.swa.trufflesqueak/trufflesqueak/native-image.properties
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/JavaObjectWrapper.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/HostInteropFeature.java
  src/image-tests/runSqueakTests.st
Due: eclipseformat, checkstyle

Post performance reports also as job summaries
  .github/workflows/ci.yml
Due: none

Minor cleanup
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchValueNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchValueWithArgNode.java
Due: eclipseformat, checkstyle

Deduplicate call targets with multi-level cache
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/Dis0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/Dis1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/Dis2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchValueNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchValueWithArgNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/FrameAccess.java
Due: eclipseformat, checkstyle

show test durations in GitHub Action Summary
  .github/workflows/ci.yml
Due: none

handle error case better
  .github/workflows/ci.yml
Due: none

scan log for test durations & output to commit
  .github/workflows/ci.yml
  .github/workflows/test-summary.yml
Due: none

post summaries as comments to both commit and PR
  .github/workflows/test-summary.yml
Due: none

Revert "post summaries as comments to both commit and PR"
  .github/workflows/test-summary.yml
Due: none

rename variables
  .github/workflows/ci.yml
  .github/workflows/test-summary.yml
Due: none

Check assumptions correctly
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/AbstractDisNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/Dis0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/Dis1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/Dis2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/ArrayUtils.java
Due: eclipseformat, checkstyle

implement suggested changes
  .github/workflows/ci.yml
Due: none

show test durations in GitHub Action Summary (#265)
  .github/workflows/ci.yml
Due: none

Rework interrupts to be thread safe
  .github/workflows/ci.yml
  src/de.hpi.swa.trufflesqueak.sdl3/jextract.args
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_h.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageOptions.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/SqueakOptions.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsState.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/DebugUtils.java
  src/image-tests/runCuisTests.st
Due: eclipseformat, checkstyle

style
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
Due: eclipseformat, checkstyle

move shouldTrigger clearing off the fast path
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsState.java
Due: eclipseformat, checkstyle

restore StringTest>>testFindSelector to the flaky Squeak tests
  src/image-tests/runSqueakTests.st
Due: none

rework timeouts
  .github/workflows/ci.yml
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageOptions.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/WatchdogBridge.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/SqueakOptions.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/DebugUtils.java
Due: eclipseformat, checkstyle, pyformat

enhance detection of interrupt-check-free loops
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsNode.java
Due: eclipseformat, checkstyle

clearing should also clear shouldTrigger
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsState.java
Due: eclipseformat, checkstyle

throw error if watchdog fires but no action has been set
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/WatchdogBridge.java
Due: eclipseformat, checkstyle

Rework interrupts to be thread safe (#263)
  .github/workflows/ci.yml
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak.sdl3/jextract.args
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_h.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageOptions.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/WatchdogBridge.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsState.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/DebugUtils.java
  src/image-tests/runCuisTests.st
  src/image-tests/runSqueakTests.st
Due: eclipseformat, checkstyle, pyformat

correct dispatch fallback caching
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/CompiledCodeObject.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector3Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector4Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector5Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchUtils.java
Due: eclipseformat, checkstyle

fix specialization guards on n-ary performs
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
Due: eclipseformat, checkstyle

handle nested cannotInterpret:; implement DNU shortcuts
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/ClassObject.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector3Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector4Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector5Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchUtils.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/ResolveMethodNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/TruffleSqueakPlugin.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MethodCacheEntry.java
Due: eclipseformat, checkstyle

move arity from MethodCacheEntry to DispatchFailureResult
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/ClassObject.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MethodCacheEntry.java
Due: eclipseformat, checkstyle

restore indirect nary OAM, protect against incorrect DNU shortcut selectors
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/ClassObject.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/TruffleSqueakPlugin.java
Due: eclipseformat, checkstyle

formatting
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
Due: eclipseformat, checkstyle

modify caching as per PR review comments
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MethodCacheEntry.java
Due: eclipseformat, checkstyle

Replaced the supported image array of strings with a dedicated record
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageConfig.java
Due: eclipseformat, checkstyle

Extended exception message when image key is unknown
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
Due: eclipseformat, checkstyle

Added --download-image launcher option
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageConfig.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageOptions.java
Due: eclipseformat, checkstyle

Allow to pass also a image URL to the --download-image option
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageConfig.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageOptions.java
Due: eclipseformat, checkstyle

Add Cuis 7.5 test image and reorder images
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageConfig.java
Due: eclipseformat, checkstyle

Throw exception if URL doesn't end with .zip
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
Due: eclipseformat, checkstyle

Add ability to cache downloaded images
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
Due: eclipseformat, checkstyle

Simplify `runSqueakTests.st`
  src/image-tests/runSqueakTests.st
Due: none

Use `--download-image` for testing
  .github/workflows/ci.yml
  AGENTS.md
  mx.trufflesqueak/suite.py
  mx.trufflesqueak/utils.sh
  src/image-tests/runSqueakTests.st
Due: pyformat
