Repository hpi-swa/trufflesqueak: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pyformat

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pyformat
    name: Pyformat on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/pyformat.sh
    types: [text]
    files: '^mx\.trufflesqueak/.*\.py$'

Simplify `osEventHandler` [ci skip]
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/EventQueue.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle, pyformat

Draft: use static Runnable for close event
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/EventQueue.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

consolidate display, kbd, mouse; make main loop event driven
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/EventQueue.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakKeyboard.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakMouse.java
Due: eclipseformat, checkstyle

refine the pixel pipeline
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Minor edits
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/EventQueue.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Minor improvements
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Drop stagingPixels [ci skip]
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Use SDL_Events for starting and rendering
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/EventQueue.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

move staging buffer off heap & use Unsafe copying; avoid redundant wake-up events
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/EventQueue.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/UnsafeUtils.java
Due: eclipseformat, checkstyle

add back the dock icon; fix option key handling for non-composed chars
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

add back drag target event handling
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

rename EventQueue to PlatformEventLoop
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

try to make menu bar show up
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle, pyformat

Use `nSDL_UpdateTexture`
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/UnsafeUtils.java
Due: eclipseformat, checkstyle

Use `MemoryUtil.memCopy`
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/UnsafeUtils.java
Due: eclipseformat, checkstyle

Minor edits [ci skip]
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Use `SDL_RunOnMainThread` [ci skip]
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Use `SDL_WaitEventTimeout`
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Implement `upscaleDisplayIfHighDPI`
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageFlags.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Add a TODO [ci skip]
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

batch event processing in main loop
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
Due: eclipseformat, checkstyle

use full width transfers if damage >= 75% of window width
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

comment the image flags
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageFlags.java
Due: eclipseformat, checkstyle

changed icon to zipped BMP to eliminate AWT
  src/de.hpi.swa.trufflesqueak/resources/trufflesqueak-icon.png
  src/de.hpi.swa.trufflesqueak/resources/trufflesqueak-icon.zip
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

add digests
  mx.trufflesqueak/suite.py
Due: pyformat

attempt CI fixes
  mx.trufflesqueak/suite.py
Due: pyformat

Call `SDL_PumpEvents` before `SDL_PeepEvents`
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
Due: eclipseformat, checkstyle

SDL_MainThreadCallback() no-wake workaround
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

try to eliminate AWT and get menu bar to not show Terminal
  Info.plist
  mx.trufflesqueak/mx_trufflesqueak.py
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reflect-config.json
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakSystemAttributes.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/JavaObjectWrapper.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MiscUtils.java
Due: eclipseformat, checkstyle, pyformat

try to eliminate AWT and get menu bar to not show Terminal
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/resource-config.json
Due: eclipseformat, checkstyle, pyformat

Disable force render
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
Due: eclipseformat, checkstyle

Add missing classes
  src/de.hpi.swa.trufflesqueak.shared/src/bindings/sdl/SDL_h.java
  src/de.hpi.swa.trufflesqueak.shared/src/bindings/sdl/SDL_h_2.java
  src/de.hpi.swa.trufflesqueak.shared/src/bindings/sdl/SDL_h_3.java
  src/de.hpi.swa.trufflesqueak.shared/src/bindings/sdl/SDL_h_4.java
Due: eclipseformat, checkstyle

Fix `java.library.path` [ci skip]
  mx.trufflesqueak/suite.py
Due: pyformat

add classes for constants, complete AOT
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLEvents.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLHints.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLInit.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLKeyboard.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLKeycode.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLMouse.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLPixels.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLRender.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLSurface.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLVideo.java
  src/de.hpi.swa.trufflesqueak/resources/trufflesqueak-icon.png
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reachability-metadata.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reflect-config.json
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle, pyformat

gate fixes
  mx.trufflesqueak/mx_trufflesqueak.py
  mx.trufflesqueak/suite.py
Due: pyformat

upgrade GitHub LabsJDK to 24
  .github/workflows/ci.yml
Due: none

fix SDL bindings warnings
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/bindings/SDL_GamepadBinding.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/bindings/SDL_h_4.java
Due: eclipseformat, checkstyle

fix warnings
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLEvents.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLHints.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLInit.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLKeyboard.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLKeycode.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLMouse.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLPixels.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLRender.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLSurface.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/SDLVideo.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/bindings/SDL_GamepadBinding.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/sdl/bindings/SDL_h_4.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/JavaObjectWrapper.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/layout/ObjectLayout.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/ffi/PrimExternalCallNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MiscUtils.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/ObjectGraphUtils.java
Due: eclipseformat, checkstyle, pyformat
