Repository hpi-swa/trufflesqueak: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pyformat

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pyformat
    name: Pyformat on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash mx.trufflesqueak/pre-commit/pyformat.sh
    types: [text]
    files: '^mx\.trufflesqueak/.*\.py$'

Replaced the supported image array of strings with a dedicated record
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageConfig.java
Due: eclipseformat, checkstyle

Add ability to cache downloaded images
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
Due: eclipseformat, checkstyle

Extended exception message when image key is unknown
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
Due: eclipseformat, checkstyle

Allow to pass also a image URL to the --download-image option
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageConfig.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageOptions.java
Due: eclipseformat, checkstyle

Add Cuis 7.5 test image and reorder images
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakLanguageConfig.java
Due: eclipseformat, checkstyle

Simplify `runSqueakTests.st`
  src/image-tests/runSqueakTests.st
Due: none

Throw exception if URL doesn't end with .zip
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
Due: eclipseformat, checkstyle

Use `--download-image` for testing
  .github/workflows/ci.yml
  AGENTS.md
  mx.trufflesqueak/suite.py
  mx.trufflesqueak/utils.sh
  src/image-tests/runSqueakTests.st
Due: pyformat

Pharo does not populate as many elements in the SOA as Squeak
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageReader.java
Due: eclipseformat, checkstyle

fhandle nested cannotInterpret:; implement DNU shortcuts
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/ClassObject.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/CompiledCodeObject.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector3Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector4Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector5Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchUtils.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/ResolveMethodNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/TruffleSqueakPlugin.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MethodCacheEntry.java
Due: eclipseformat, checkstyle

integrate wip/multi-level-dispatch
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/AbstractDispatchNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector3Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector4Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector5Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/FrameAccess.java
Due: eclipseformat, checkstyle

use small dispatch nodes when possible
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/AbstractDispatchNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
Due: eclipseformat, checkstyle

use multi-level dispatch for n-ary perform
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/AbstractDispatchNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchValueWithArgNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
Due: eclipseformat, checkstyle

restore accidentally deleted line
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
Due: eclipseformat, checkstyle

Generalize class table initialization to support Metaclass-subclasses metaclasses
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageReader.java
Due: eclipseformat, checkstyle

Introduce `setOptionalPrebuiltObject`
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageReader.java
Due: eclipseformat, checkstyle

implement PR review suggestions
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/AbstractDispatchNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector3Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector4Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector5Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
Due: eclipseformat, checkstyle

change PrimRelinquishProcessorNode to match OSVM behavior
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsState.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
Due: eclipseformat, checkstyle

Make `handleExtendedSend` more efficiently
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector3Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector4Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector5Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
Due: eclipseformat, checkstyle

Refactor message creation
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/AbstractCreateFrameArgumentsForIndirectCallNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/AbstractDispatchSelectorNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/CreateMessageNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector3Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector4Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector5Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/ArrayUtils.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/FrameAccess.java
Due: eclipseformat, checkstyle

Introduce `dnuShortcutsAbsent` assumption
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/ClassObject.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector0Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector2Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector3Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector4Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelector5Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/dispatch/DispatchSelectorNaryNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MethodCacheEntry.java
Due: eclipseformat, checkstyle

Update outdated actions
  .github/workflows/ci.yml
Due: none

Add missing interval to `dependabot.yml`
  .github/dependabot.yml
Due: none

Lock version of `actions/download-artifact`
  .github/workflows/ci.yml
Due: none

simplify as per PR comments
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsState.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
Due: eclipseformat, checkstyle

Minor tweaks
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsState.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MiscUtils.java
Due: eclipseformat, checkstyle

Reduce list of flaky Squeak tests
  src/image-tests/runSqueakTests.st
Due: none

ensure thread-safe data synch between interpreter & SDL; cleanup native memory on error when creating cursor
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

update image header window size only when window is resized; show window when Display dimensions == saved dimensions
  src/de.hpi.swa.trufflesqueak.sdl3/jextract.args
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/SDL3Constants.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_h.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

ensure thread-safe data sync when registering/deregistering vmThread
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interrupts/CheckForInterruptsState.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
Due: eclipseformat, checkstyle

Experiment with build-time init
  src/de.hpi.swa.trufflesqueak.interpreterproxy.bindings/src/de/hpi/swa/trufflesqueak/interpreterproxy/bindings/VirtualMachine.java
  src/de.hpi.swa.trufflesqueak.interpreterproxy.bindings/src/de/hpi/swa/trufflesqueak/interpreterproxy/bindings/sqVirtualMachine_h$shared.java
  src/de.hpi.swa.trufflesqueak.interpreterproxy.bindings/src/de/hpi/swa/trufflesqueak/interpreterproxy/bindings/sqVirtualMachine_h.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_RunOnMainThread$callback.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_h$shared.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_h.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/de.hpi.swa.trufflesqueak/trufflesqueak/native-image.properties
Due: eclipseformat, checkstyle

Upgrade to SDL `3.4.12` via LWJGL `3.4.2`
  .gitignore
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.sdl3/README.md
  src/de.hpi.swa.trufflesqueak.sdl3/jextract.args
Due: pyformat

Use separate reachability metadata for bindings
  src/de.hpi.swa.trufflesqueak.interpreterproxy.bindings/src/META-INF/native-image/de.hpi.swa.trufflesqueak/interpreterproxy/native-image.properties
  src/de.hpi.swa.trufflesqueak.interpreterproxy.bindings/src/META-INF/native-image/de.hpi.swa.trufflesqueak/interpreterproxy/reachability-metadata.json
  src/de.hpi.swa.trufflesqueak.sdl3/src/META-INF/native-image/de.hpi.swa.trufflesqueak/sdl3/native-image.properties
  src/de.hpi.swa.trufflesqueak.sdl3/src/META-INF/native-image/de.hpi.swa.trufflesqueak/sdl3/reachability-metadata.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/de.hpi.swa.trufflesqueak/trufflesqueak/native-image.properties
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/de.hpi.swa.trufflesqueak/trufflesqueak/reachability-metadata.json
Due: none

Use `int64_t` and `uint64_t` for Windows support
  src/de.hpi.swa.trufflesqueak.interpreterproxy.bindings/README.md
  src/de.hpi.swa.trufflesqueak.interpreterproxy.bindings/include/sqMemoryAccess.h
  src/de.hpi.swa.trufflesqueak.interpreterproxy.bindings/src/de/hpi/swa/trufflesqueak/interpreterproxy/bindings/VirtualMachine.java
  src/de.hpi.swa.trufflesqueak.interpreterproxy.bindings/src/de/hpi/swa/trufflesqueak/interpreterproxy/bindings/sqVirtualMachine_h$shared.java
Due: eclipseformat, checkstyle
