Repository hpi-swa/trufflesqueak: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pyformat

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash mx.trufflesqueak/pre-commit/eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash mx.trufflesqueak/pre-commit/checkstyle.sh

pyformat:
  name: Pyformat on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash mx.trufflesqueak/pre-commit/pyformat.sh

Added wheel movement accumulation and x direction handling and removed scaling
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakIOConstants.java
Due: eclipseformat, checkstyle

use codePoints when processing text input
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

corrected recordModifiers and recordMouseEvent to use correct mappings
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Stop the SDL event loop on exit
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Use `--use-system-load-library` [ci skip]
  src/de.hpi.swa.trufflesqueak.sdl3/jextract-trufflesqueak-sdl3.args
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_h.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/PlatformEventLoop.java
Due: eclipseformat, checkstyle

Adopt Truffle changes
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/exceptions/SqueakExceptions.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/JavaObjectWrapper.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/SqueakLanguageView.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/ContextScope.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/PolyglotPlugin.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MiscUtils.java
Due: eclipseformat, checkstyle

Upgrade to GraalVM `25e1-ea`
  .github/workflows/ci.yml
  mx.trufflesqueak/graalvm-25.0.2.patch
  mx.trufflesqueak/suite.py
  mx.trufflesqueak/utils.sh
Due: pyformat

Fixes
  mx.trufflesqueak/suite.py
  mx.trufflesqueak/utils.sh
Due: pyformat

Adopt Truffle 25.1.0 updates
  src/BaselineOfTruffleSqueak.package/.squot-contents
  src/TruffleSqueak-Core.package/.squot-contents
  src/TruffleSqueak-Core.package/Interop.class/class/getLanguage..st
  src/TruffleSqueak-Core.package/Interop.class/class/getLanguageId..st
  src/TruffleSqueak-Core.package/Interop.class/class/hasLanguage..st
  src/TruffleSqueak-Core.package/Interop.class/class/hasLanguageId..st
  src/TruffleSqueak-Core.package/Interop.class/class/isInternal..st
  src/TruffleSqueak-Core.package/Interop.class/methodProperties.json
  src/TruffleSqueak-Core.package/Object.extension/instance/defaultLabelForPolyglotTools.st
  src/TruffleSqueak-Core.package/Object.extension/instance/interopAsHostObject.st
  src/TruffleSqueak-Core.package/Object.extension/instance/interopGetLanguage.st
  src/TruffleSqueak-Core.package/Object.extension/instance/interopGetLanguageId.st
  src/TruffleSqueak-Core.package/Object.extension/instance/interopGetStaticScope.st
  src/TruffleSqueak-Core.package/Object.extension/instance/interopHasLanguageId.st
  src/TruffleSqueak-Core.package/Object.extension/instance/interopHasStaticScope.st
  src/TruffleSqueak-Core.package/Object.extension/instance/interopIsHostObject.st
  src/TruffleSqueak-Core.package/Object.extension/instance/interopIsInternal.st
  src/TruffleSqueak-Core.package/Object.extension/methodProperties.json
  src/TruffleSqueak-Support.package/.squot-contents
  src/TruffleSqueak-Tests.package/.squot-contents
  src/TruffleSqueak-Tests.package/ForeignObjectTest.class/instance/testJSMetadataAPIs.st
  src/TruffleSqueak-Tests.package/ForeignObjectTest.class/methodProperties.json
  src/TruffleSqueak-Tests.package/InteropTest.class/instance/testMetadataAPIs.st
  src/TruffleSqueak-Tests.package/InteropTest.class/methodProperties.json
  src/TruffleSqueak-Tools-Core.package/.squot-contents
  src/TruffleSqueak-Tools-Core.package/PolyglotInspector.class/instance/languageInfo.st
  src/TruffleSqueak-Tools-Core.package/PolyglotInspector.class/instance/setAdaptiveLanguageSelection.st
  src/TruffleSqueak-Tools-Core.package/PolyglotInspector.class/instance/streamOptionalFieldsOn..st
  src/TruffleSqueak-Tools-Core.package/PolyglotInspector.class/methodProperties.json
  src/TruffleSqueak-Tools-Core.package/PolyglotObjectExplorer.class/instance/languageInfo.st
  src/TruffleSqueak-Tools-Core.package/PolyglotObjectExplorer.class/instance/updateAdaptiveLanguageSelection.st
  src/TruffleSqueak-Tools-Core.package/PolyglotObjectExplorer.class/methodProperties.json
  src/TruffleSqueak-Tools-Editor-Core.package/.squot-contents
  src/TruffleSqueak-Tools-Editor-Support.package/.squot-contents
  src/TruffleSqueak-Tools-Editor-Tests.package/.squot-contents
  src/TruffleSqueak-Tools-Notebook-Core.package/.squot-contents
  src/TruffleSqueak-Tools-Support.package/.squot-contents
  src/TruffleSqueak-Tools-Support.package/PolyglotObjectExplorerWrapper.class/instance/icon.st
  src/TruffleSqueak-Tools-Support.package/PolyglotObjectExplorerWrapper.class/methodProperties.json
  src/TruffleSqueak-Utilities.package/.squot-contents
Due: none

Use `actions/checkout@v6`
  .github/workflows/test.yml
Due: none

Truffle
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/PolyglotPlugin.java
Due: eclipseformat, checkstyle

Fix #interopGetLanguageId
  src/TruffleSqueak-Core.package/Object.extension/instance/interopGetLanguageId.st
  src/TruffleSqueak-Core.package/Object.extension/methodProperties.json
Due: none

Adopt Truffle changes
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/exceptions/SqueakExceptions.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/JavaObjectWrapper.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/SqueakLanguageView.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/ContextScope.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/PolyglotPlugin.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MiscUtils.java
Due: eclipseformat, checkstyle

Ignore `TestValueWithinFix` for now
  src/image-tests/runCuisTests.st
Due: none

Make `printSqStackTrace` more robust
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/DebugUtils.java
Due: eclipseformat, checkstyle

Upload all standalones
  .github/workflows/ci.yml
Due: none

Make `DebugUtils` more robust
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/DebugUtils.java
Due: eclipseformat, checkstyle

Rename mx env files to `jvm` and `native`
  .github/workflows/ci.yml
  AGENTS.md
  mx.trufflesqueak/jvm
  mx.trufflesqueak/native
  mx.trufflesqueak/utils.sh
Due: none

ignore primShowDisplayRect when not deferring updates
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/IOPrimitives.java
Due: eclipseformat, checkstyle

Revise infrastructure for display updates
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/BitBlt.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/ffi/InterpreterProxy.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/IOPrimitives.java
Due: eclipseformat, checkstyle

Drop `SqueakImageContext.hasDisplay()`
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageContext.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakSystemAttributes.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/ExecuteTopLevelContextNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/HostWindowPlugin.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/NullPlugin.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/IOPrimitives.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/MiscellaneousPrimitives.java
Due: eclipseformat, checkstyle

prevent access to stack slots larger than stack pointer
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ContextPrimitives.java
Due: eclipseformat, checkstyle

Run tests in headful mode
  .github/workflows/ci.yml
Due: none

Set SDL_VIDEO_DRIVER=dummy
  .github/workflows/ci.yml
Due: none

prevent access to stack slots smaller than 1
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ContextPrimitives.java
Due: eclipseformat, checkstyle

Try SDL_VIDEO_DRIVER='offscreen'
  .github/workflows/ci.yml
Due: none

Start Xvfb in background
  .github/workflows/ci.yml
Due: none

Fix Windows SDL size_t binding
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_h$shared.java
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_h.java
Due: eclipseformat, checkstyle

Fix ImageDownloadSupport warning findings
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/ImageDownloadSupport.java
Due: eclipseformat, checkstyle

Hide blank SDL cursor instead of drawing it
  src/de.hpi.swa.trufflesqueak.sdl3/jextract.args
  src/de.hpi.swa.trufflesqueak.sdl3/src/de/hpi/swa/trufflesqueak/sdl3/bindings/SDL_h.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Honor proxy env vars for image downloads
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/ImageDownloadSupport.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/SqueakImageLocator.java
  src/de.hpi.swa.trufflesqueak.test/src/de/hpi/swa/trufflesqueak/test/ImageDownloadSupportTest.java
Due: eclipseformat, checkstyle, pyformat

Document instructions to regenerate SDL3 binding
  src/de.hpi.swa.trufflesqueak.sdl3/README.md
  src/de.hpi.swa.trufflesqueak.sdl3/jextract.args
Due: none

Mark `testGetButtonColor` as flaky
  src/image-tests/runSqueakTests.st
Due: none

Enable `native-image-job-reports`
  .github/workflows/ci.yml
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pyformat: any of: ^mx\.trufflesqueak/.*\.py$
