Repository hpi-swa/trufflesqueak: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pyformat

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash mx.trufflesqueak/pre-commit/eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash mx.trufflesqueak/pre-commit/checkstyle.sh

pyformat:
  name: Pyformat on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash mx.trufflesqueak/pre-commit/pyformat.sh

Use Unsafe to access profiles
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
Due: eclipseformat, checkstyle

Use Unsafe to access data
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
Due: eclipseformat, checkstyle

Use Unsafe to access data and profiles
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
Due: eclipseformat, checkstyle

use JWM and Skija for windows and graphics
  mx.trufflesqueak/mx_trufflesqueak.py
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak/resources/trufflesqueak-icon.icns
  src/de.hpi.swa.trufflesqueak/resources/trufflesqueak-icon.ico
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/jwm-skija/README.md
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/jwm-skija/reachability-metadata.json
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakSystemAttributes.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/JavaObjectWrapper.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakKeyboard.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakMouse.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/TruffleSqueakPlugin.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/MiscUtils.java
Due: eclipseformat, checkstyle, pyformat

style
  mx.trufflesqueak/mx_trufflesqueak.py
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reflect-config.json
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/JavaObjectWrapper.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakKeyboard.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakMouse.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/TruffleSqueakPlugin.java
Due: eclipseformat, checkstyle, pyformat

implement primitiveScreenScaleFactor and simplify SqueakDisplay.setFullscreen
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/NullPlugin.java
Due: eclipseformat, checkstyle, pyformat

upgrade to JWM 0.4.24
  mx.trufflesqueak/suite.py
Due: pyformat

adjust build args to include only the specific platform's libraries and icons
  mx.trufflesqueak/suite.py
Due: pyformat

Play around with very basic compilation decay
  mx.trufflesqueak/graalvm-25.0.1.patch
Due: none

Re-enable PGO instrumentation
  .github/workflows/ci.yml
Due: none

Ignore `TestValueWithinFix`
  src/image-tests/runCuisTests.st
Due: none

Use default engine mode
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
Due: eclipseformat, checkstyle

optimize display, fix assertion problems, mouse buttons
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakMouse.java
Due: eclipseformat, checkstyle, pyformat

Work around compiler issue
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
Due: eclipseformat, checkstyle

Allow `setMarkedCodeFlags()` to be optimized away
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/model/ContextObject.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
Due: eclipseformat, checkstyle

Simplify return bytecodes
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/AbstractInterpreterNode.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterV3PlusClosuresNode.java
Due: eclipseformat, checkstyle

Fix window size on startup
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Use `-H:Preserve` to saimplify metadata handling
  mx.trufflesqueak/mx_trufflesqueak.py
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/jwm-skija/README.md
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/jwm-skija/reachability-metadata.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reachability-metadata.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reflect-config.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/resource-config.json
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/serialization-config.json
Due: pyformat

Undo changes
  mx.trufflesqueak/mx_trufflesqueak.py
Due: pyformat

Add missing metadata entry
  src/de.hpi.swa.trufflesqueak/src/META-INF/native-image/reachability-metadata.json
Due: none

Style fixes
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakMouse.java
Due: eclipseformat, checkstyle

Upgrade Skija and fix dependencies
  mx.trufflesqueak/suite.py
Due: pyformat

Various cleanups
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/NullPlugin.java
Due: eclipseformat, checkstyle

save window size in image, remove flicker when resizing, center window at startup
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageFlags.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageWriter.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

First attempt to use SDL3 via LWJGL [ci skip]
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/NullPlugin.java
Due: eclipseformat, checkstyle, pyformat

Revert "Work around compiler issue"
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/interpreter/InterpreterSistaV1Node.java
Due: eclipseformat, checkstyle

save the current window size when writing the image header
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageFlags.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/image/SqueakImageWriter.java
Due: eclipseformat, checkstyle

Run VM on different thread [ci skip]
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/EventQueue.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle, pyformat

Experiments [ci skip]
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle, pyformat

start dispatching events
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak.shared/src/de/hpi/swa/trufflesqueak/shared/EventQueue.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakKeyboard.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakMouse.java
Due: eclipseformat, checkstyle

WIP
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/IOPrimitives.java
Due: eclipseformat, checkstyle

Use primitiveForceDisplayUpdate
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakMouse.java
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/primitives/impl/ControlPrimitives.java
Due: eclipseformat, checkstyle

optimize display and window resize
  src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java
Due: eclipseformat, checkstyle

Temporarily ignore some Interop tests
  src/image-tests/runSqueakTests.st
Due: none

Run on default engine mode
  .github/workflows/ci.yml
  mx.trufflesqueak/suite.py
  src/de.hpi.swa.trufflesqueak.launcher/src/de/hpi/swa/trufflesqueak/launcher/TruffleSqueakLauncher.java
Due: eclipseformat, checkstyle, pyformat

Ignore some Cuis tests
  src/image-tests/runCuisTests.st
Due: none

Ignore test
  src/image-tests/runSqueakTests.st
Due: none

Try `engine.TraversingQueueStaleTaskDelay` option
  mx.trufflesqueak/suite.py
Due: pyformat

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pyformat: any of: ^mx\.trufflesqueak/.*\.py$
